<mat-drawer-container class="example-container">
    <a routerLink="General"><h2>General</h2></a>
    <a routerLink="DOS"><h2>De Other Side</h2></a>
    <a routerLink="HOA"><h2>Halls Of Atonement</h2></a>
    <a routerLink="MOTS"><h2>Mists Of Tirna Scithe</h2></a>
    <a routerLink="PF"><h2>Plaguefall</h2></a>
    <a routerLink="SD"><h2>Sanguine Depths</h2></a>
    <a routerLink="SOA"><h2>Spires Of Ascension</h2></a>
    <a routerLink="Gambit"><h2>Tazavesh: Gambit</h2></a>
    <a routerLink="Streets"><h2>Tazavesh: Streets</h2></a>
    <a routerLink="NW"><h2>The Necrotic Wake</h2></a>
    <a routerLink="TOP"><h2>Theater Of Pain</h2></a>
</mat-drawer-container>
<router-outlet></router-outlet>