a{
    color: #ffffff;
}
.example-container {
    height: 100%;
    width: 210px;
    position:fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 70px;
}
